.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

/*$theme-color: #6ac259;*/
header{
  background-color: #6ac259;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
}

.side-bar {
  width: 15%;
  border: 2px solid #6ac259;
  display: inline-block;
  vertical-align: top;
  padding: 0px 20px;
  margin: 28px 20px 0 0;
  background-color: #6ac259;
  color: #fff;
}

.time {
  display: block;
}

.main-content {
  width: 70%;
  display: inline-block;
}

.post-details {
  color: #6ac259;
  list-style-type: none;
  text-align:right;
}

.btn {
  /* border: 1px solid #6ac259; */
  padding: 2px;
  margin: 10px 5px;
}

.post-wrapper h3{
  margin-bottom: 0px;
}

.post-wrapper p{
  margin-top: 5px;
}

/* .btn-edit{
  background-image: url('../src/edit.png');
  height: 32px;
}

.btn-delete{
  background-image: url('../src/delete.png');
  height: 32px;
} */
